/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff6347;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.cart-items {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.cart-item img {
    width: 120px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.item-details {
    flex-grow: 2;
    padding: 0 20px;
}

.item-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.item-details .price {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.item-details .additional-info {
    font-size: 14px;
    color: #888;
}

.item-details .additional-info p {
    margin-bottom: 5px;
}

.cart-controls {
    display: flex;
    align-items: center;
}

.wishlist-btn {
    background-color: #fff;
    border: 1px solid #333;
    padding: 5px 10px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.wishlist-btn:hover {
    background-color: #f5f5f5;
}

.quantity-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.delete-btn:hover {
    color: #ff6347;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

h3 {
    text-align: right;
    font-size: 22px;
    color: #333;
}
