<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='order_confirmation.css') }}">
    <script href="{{ url_for('static', filename='home.css') }}"></script>
</head>
<body style="background-color: #eae2d8;">
    <header>
        <nav>
            <div class="logo"><img id="limg"src="/static/logo.png"></div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('view_products') }}">Products</a></li>
                
                <li><a href="{{ url_for('view_cart') }}">View Cart</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="confirmation-section">
            <h1>Order Confirmed!</h1>
            <p>Thank you for shopping with us!</p>
            <p>Delivery Date: {{ delivery_date }}</p>
        </section>
    </main>
</body>
</html>
