<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Signup</h1>
    {% if signup_message %}
        <p>{{ signup_message }}</p>
    {% endif %}
    <form method="POST" action="/">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>