    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Cart</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='view_cart.css') }}">
        <script href="{{ url_for('static', filename='home.css') }}"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo"><img id="limg"src="/static/logo.png"></div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('view_products') }}">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="{{ url_for('view_cart') }}">View Cart</a></li>
                </ul>
            </nav>
        </header>

        <h1>Your Shopping Cart</h1>

        <div class="cart-items">
            {% if cart %}
                <ul>
                    {% for item in cart %}
                    <li class="cart-item">
                        <img src="{{ url_for('static', filename='images/' + item['imgname']) }}" alt="{{ item['name'] }}">
                        <div class="item-details">
                            <h2>{{ item['name'] }}</h2>
                            <p class="price">Rs. {{ item['price'] }}</p>
                            <div class="additional-info">
                            <p>Quantity:{{item['quantity']}}</p>
                            </div>
                        </div>

                        <div class="cart-controls">
                            <form action="{{ url_for('increase_quantity', product_id=item['id']) }}" method="POST">
                                <button class="add-btn" type="submit">+</button>
                            </form>
                            <form action="{{ url_for('reduce_quantity', product_id=item['id']) }}" method="POST">
                                <button class="reduce-btn" type="submit">-</button>
                            </form>
                        
                           
                        </div>
                    </li>
                    <hr>
                    {% endfor %}
                </ul>
                <h3>Total Amount: Rs. {{ total_amount }}</h3>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>
    </body>
    </html>
